 /*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
     font-family: Bebas Neue;
     src: url('/fonts/bebas_neue/BebasNeue Bold.otf');
}
body{
    font-family: Open Sans,sans-serif;
    padding: 0 !important;
    overflow: auto !important;
}
h1, h2{
    font-family: Bebas Neue,sans-serif;
}
nav.navbar{
    box-shadow: 0 2px 14px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 14px 0 rgba(0,0,0,.12);
    background-color: #fff;
    font-size: 18px;
}

nav.navbar .container-fluid{
    margin: 8px 15px;
}

a.navbar-brand{
    top: -5px;
    position: relative;
}

nav.navbar button {
    margin: 7px 0;
}


button.btn {
    background: #ffcb05;
    color: black;
}
 button.btn:hover {
     background: #f2b900;
 }
.main .background img{
    width: 100%;
    position: fixed;
    filter: brightness(60%);
    top: 30px;
    right: 0;
}
.content{
    position: relative;
    top:70px;
}
.content .top{
    margin-top: 60px;
    text-align: center;
    color: #fff;
}
.content .head h1{
    font-size: 6vw;
    text-transform: uppercase;
}
.content .head h1 .color{
     color: #ffcb05;
}
.promo-items{
    font-size: 20px;
    position: relative;
    z-index: 20;
    padding-bottom: 13.5vw;
}
.promo-items h3 .strong{
    font-weight: bold;
    line-break: strict;
}

.promo-text{
    margin: 15px auto;
}
.promo-button button.btn{
    margin: 15px auto;
    width: 320px;
    padding: 12px 18px;
    font-size: 20px;
}
.content .top{
    position: relative;
}
.content .bottom{
    background-color: #fff;
    position: relative;
    padding-bottom: 200px;
}
.bottom .head{
    position: absolute;
    width: 100%;
}
.bottom .container{
    padding-top: 50px;
}
.bottom .head h2.vertical{
    color: #e5e5e5;
    font-size: 5vw;
    transform: rotate(90deg);
    text-transform: uppercase;
    position: absolute;
    top: -75px;
    right: -50px;
    z-index: 1;
}
.bottom .head h2.vertical > div{
    margin-left: 58px;
}

.divide-triangle{
    position: absolute;
    height: 14.5vw;
    bottom: -1px;
    width: 100%;
}
.bottom .item{
    padding: 0 30px;
}
.bottom .item h3{
    font-size: 48px;
    color: black;
}
.bottom .item .text{
    margin: 15px 0;
    font-size: 18px;
}
.bottom .item .btn {
    padding: 20px;
}
.bottom .video-image{
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}
.bottom .row{
    display: initial;
}
.bottom .vcenter{
    vertical-align: middle;
    display: inline-block;
    float: none;
    width: 49%;
}
footer{
    position: relative;
    z-index: 30;
    background-color: #272727;
    color: white;
    font-size: 18px;
}
footer .flex-container {
    display: flex;
    height: 110px;
    justify-content: space-around;
    align-items: center;
}
footer .flex-item-space{
    flex-grow: 0.5;
}
footer .navbar-nav>li>a{
    color: #fff;
    padding: 5px 15px;
}
footer .navbar-nav>li>a:hover{
    background-color: inherit;
    color: #9d9d9d;
}

footer .btn{
    font-size: 18px;
    padding: 2px 8px;
}

.modal-dialog{
    max-width: 385px;
}

.modal-dialog .form-submit{
    text-align: center;
    margin-top: 25px;
}

.modal-dialog .form-submit .btn{
    padding: 10px 20px;
    width: 100%;
    font-size: 18px;
}
.modal-dialog .help-block{
    color: #a94442;
    display: none;
}
.modal-dialog .form-group.error .help-block{
    display: block;
}
.modal-dialog .form-group.error .form-control{
    border: 2px solid #a94442;
}
.modal-dialog .form-group.valid .form-control{
    border: 2px solid #3c763d;
}

 /** notifications **/
.modal-dialog .notify {
     display: none;
     background: #fff;
     padding: 12px 18px;
     max-width: 400px;
     margin: 0 auto;
     cursor: pointer;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     margin-bottom: 20px;
     box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
}

.modal-dialog .notify h1 { margin-bottom: 6px; }

.modal-dialog .successbox h1 { color: #678361; }
.modal-dialog .errorbox h1 { color: #6f423b; }

.modal-dialog .successbox h1:before, .successbox h1:after { background: #cad8a9; }
.modal-dialog .errorbox h1:before, .errorbox h1:after { background: #d6b8b7; }

.modal-dialog .notify .alerticon {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
#emailErrMsg, #generalErrMsg{
    display: none;
}

/*Responsive design*/

@media only screen and (max-width: 1330px) {
    .main .background img{
        width: 150%;
    }
}

@media only screen and (max-width: 992px) {
    nav.navbar{
         font-size: 15px;
    }

    .btn{
        padding: 4px 10px;
    }
    .content .top{
        margin-top: 25px;
    }
    .bottom .head h2.vertical{
        top: -40px;
    }
    .promo-items{
        padding-bottom: 17.5vw;
        font-size: 17px;
    }
    footer{
        font-size: 15px;
    }
    footer .btn{
        font-size: 15px;
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
    }
    .nav>li>a{
        padding: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .main .background img{
        width: 250%;
    }
    .promo-items{
        padding-bottom: 25.5vw;
    }
    .divide-triangle{
        height: 20vw;
    }
    .bottom .vcenter{
        width: initial;
    }
}